<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "bike.jpg" %>
	</div>

	<div id="content">
		<h1>Hi, I'm Beth Mingledorff</h1>
		<p>Welcome to my blog app, created while following Mackenzie Child's 12 Web Apps in 12 Weeks Challenge.</p>
		<p>See more of my learnin' here: <a href="https://github.com/bethmingledorff" target="_blank">Github</a>, or my LinkedIn profile here: <a href= "https://www.linkedin.com/in/bethmingledorff" target="_blank">LinkedIn.</a></p>
	</div>
</div>